html, body { max-width: 100%; }
body { width: 70%; margin: 0px 15%}

h1, h2, h4 { margin: 7px 0px; }
#indexheader { padding: 5px; margin: 0px auto; text-align: center; } 
#indexheader h1 {block-size:  color: #333}
#indexlist{
  max-width: 80%;
  margin: 0px 10%;
  text-align: left;
}

#indexlist a { text-decoration: none; color: black;}
.post {
    margin: 15px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
pre, code, .codehilite { max-width:  100%; overflow-x: scroll }
img, .center { display: block; margin: 0px auto; }

@media only screen and (max-width: 1000px) {
  #blogpost {
    padding: 10px 15px !important;
  }
  body { width: 100%; margin: 0px 0px}
  #blogheader { padding: 0px 10px; } 
}
