html, body { 
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #1D1D1D;
  font-size: 13px;
}
body { 
  width: 70%;
  margin: 0px auto;
}
::selection {
  background-color: #E1EEF0;
}
a {
  color: #5BA4AF;
  text-decoration: none;
  transition: 300ms ease;
  font-size: 0.9em;
  text-transform: uppercase;
}

a:hover {
  border-bottom: 1px dotted #DEDBD6;
  opacity: .7;
}

img { max-width: 100%; margin: 0px auto; }
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}
h1, h2, { margin: 7px 0px; }
h1 { font-size: 28px; }
h2 { font-size: 22px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; color: #353535; font-weight: 300;}
h5 {
  font-size: 10px;
  color: #353535;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px dotted #DEDBD6;
  display: inline-block;
  margin: 0;
}

#indexheader {
  text-align: left;
  margin: 5% auto;
} 
#indexheader h1 {
  color: #1D1D1D;
  font-size: 40px;
  margin-bottom: 0px;
}
#indexheader h4 {
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
  color: #77797F;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#indexheader h4::after {
  content: '';
  display: block;
  background: #77797F;
  height: 1px;
  width: 30%;
  margin-top: 4px;
}
#indexheader .idea-icon {
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#indexheader .idea-icon:hover {
  animation-duration: 300ms;
}
#indexlist{
  text-align: left;
}

#indexlist a {
  text-decoration: none;
  color: #77797F;
  transition: color 500ms ease;
}
#indexlist a:hover {
  color: #5BA4AF;
}
.post {
    margin: 25px 0px;
    border-bottom: 1px solid #DEDBD6;
}
.post:last-child {
  border: 0;
  margin-bottom: 40px;
}
h2.post-title {
  margin-top: 0px;
}
h2.post-title a {
  text-transform: none;
  font-size: 1em;
  color: #313131;
}
pre, code, .codehilite {
  max-width: 100%;
  overflow-x: auto;
  color: #77797F;
  background-color: #FBFBFB;
  padding: 5px;
  border-radius: 4px;
  line-height: 18px;
}
img, .center { display: block; margin: 0px auto; text-align: center; }

blockquote {
    border-left: 4px solid #666;
    margin-left: 0px;
    padding-left: 40px
}

#blogheader h1 {
  margin-top: 0px;
  border-bottom: 1px solid #DEDBD6;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1000px) {
  #blogpost {
    padding: 10px 15px !important;
  }
  body {
    width: 90%;
    margin: 0px auto;
  }
  #blogheader { padding: 0px 10px; } 
}

@keyframes glow {
  from {
    fill: #77797F;
  }

  to {
    fill: #5BA4AF;
  }
}