@tailwind base;

@layer base {
  .layout {
    @apply max-w-5xl px-4 mx-auto py-4 md:py-10;
  }
  h1, .blog-title {
    @apply font-semibold text-3xl md:text-4xl;
  }
  h2 {
    @apply font-semibold text-xl md:text-2xl;
  }
  h3 {
    @apply font-semibold text-lg md:text-xl;
  }
  h4 {
    @apply font-semibold text-base md:text-lg;
  }
  a.tag {
    @apply transition-all underline underline-offset-2 decoration-dotted decoration-gray-300 text-gray-600 text-sm hover:decoration-gray-400 hover:text-gray-700;
  }
  .tag-holder * {
    padding: 1px 2px;
  }

  /* Post Styles */
  #blogpost-content h2,
  #blogpost-content h3,
  #blogpost-content h4 {
    @apply mt-6 mb-4;
  }
  p {
    @apply my-3 text-base;
  }
  #blogpost-content ol,
  #blogpost-content ul {
    @apply pl-3;
    list-style-type: revert;
  }
  #blogpost-content > ol,
  #blogpost-content > ul {
    @apply my-3 ml-3;
  }
  #blogpost-content li {
    @apply my-0.5;
  }
  #blogpost-content hr {
    @apply my-10;
  }
  #blogpost-content a {
    @apply font-medium underline underline-offset-2 decoration-dotted decoration-gray-300 hover:text-blue-400 visited:text-blue-900;
  }
  #blogpost-content p code,
    #blogpost-content li code {
    @apply font-medium px-1 py-0.5 bg-gray-100 rounded text-sm;
  }

  #blogpost-content blockquote {
    @apply my-5 pl-4 border-l-2 border-gray-400 text-sm text-gray-600;
  }
  
  /* Footnotes */
  #blogpost-content .footnotes {
    @apply text-sm opacity-75;
  }
  #blogpost-content .footnotes li p {
    @apply my-0;
  }

  pre {
    @apply font-mono bg-gray-100 p-2 rounded border border-gray-200 overflow-x-auto max-w-full my-4;
  }

  pre code {
    @apply text-xs;
  }

  .codehilite {
       @apply leading-3;
  }
  

  table {
    @apply w-full table-auto text-sm text-left my-4 border border-gray-200;
  }

  table th {
    @apply p-2 font-medium bg-gray-50 text-gray-700;
  }

  table td {
    @apply p-2 opacity-75; 
  }

  table tr {
    @apply border-b border-gray-200;
  }

  [data-tooltip] {
      position: relative;
      text-decoration: underline dotted gray;
        cursor: help;
  }
  [data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
    left: 50%;
    top: 0px;
    transform: translate(0%, -100%);
    min-width: 180px;
    font-size: 0.925rem;
    max-width: 500px;
    text-align: center;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
  }

  .compare div {
      @apply flex-1;
  }

  h2:hover a[data-header="1"],
  h3:hover a[data-header="1"],
  h4:hover a[data-header="1"],
  h5:hover a[data-header="1"] {
      opacity: 1;
  }
  
  
  h2 a[data-header="1"],
  h3 a[data-header="1"],
  h4 a[data-header="1"],
  h5 a[data-header="1"] {
      padding-left: 0.5rem;
      transition: opacity 0.5s;
      opacity: 0;
  }

}

@tailwind components;
@tailwind utilities;
