@tailwind base;

svg.logo-svg {
  @apply text-gray-950 dark:text-gray-200;
}

@layer base {
  html body {
    @apply bg-white dark:bg-gray-900;
  }
  .aside {
    @apply dark:bg-black/[.1] p-4 rounded border-2 border-dashed border-slate-500/[.2] dark:font-light;
  }
  .aside, .aside p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .aside::before {
    content: "Aside";
    @apply text-base font-bold block;
  }
  .logo {
    @apply w-8 h-8 md:w-8 md:h-8 text-gray-950 dark:text-gray-200;
  }
  .layout {
    @apply max-w-4xl px-4 mx-auto py-4
    text-gray-950 dark:text-gray-400;
  }
  .blog-title {
    @apply font-semibold text-base;
    line-height: 1;
  }
  
  header.header {
    @apply my-2 flex flex-row items-end gap-2 md:gap-2 md:flex-row md:items-baseline border-gray-500 border-b pb-4
    dark:border-gray-800
    ;
  }
  h1, h2, h3, h4 {
    @apply text-gray-950 dark:text-gray-300
  }
  h1 {
    @apply font-semibold text-2xl md:text-3xl;
  }
  h2 {
    @apply font-semibold text-xl md:text-2xl;
  }
  h3 {
    @apply font-semibold text-lg md:text-xl;
  }
  h4 {
    @apply font-semibold text-base md:text-lg;
  }
  
  .tag-holder * {
    padding: 1px 2px;
  }

  /* Post Styles */
  #blogpost-content h2,
  #blogpost-content h3,
  #blogpost-content h4 {
    @apply mt-6 mb-4;
  }
  /* newer images are at /posts/.. */
  #blogpost-content img[src^="/images/"] {
    @apply dark:brightness-50
  }
  p {
    @apply my-3 text-base dark:font-light;
  }
  #blogpost-content ol,
  #blogpost-content ul {
    @apply pl-3 dark:font-light;
    list-style-type: revert;
  }
  #blogpost-content > ol,
  #blogpost-content > ul {
    @apply my-3 ml-3 dark:font-light;
  }
  #blogpost-content li {
    @apply my-0.5;
  }
  #blogpost-content hr {
    @apply my-6 dark:border-gray-800;
  }
  #blogpost a, .webring a {
    @apply 
    font-medium underline underline-offset-2 decoration-dotted decoration-gray-300 dark:no-underline
    text-blue-800 hover:text-blue-400 visited:text-blue-950
    dark:text-blue-400 dark:visited:text-blue-600;
  }
  #blogpost-content p code,
  #blogpost-content li code,
  #blogpost-content h2 code,
  #blogpost-content .aside code:not(pre > *) {
    @apply bg-gray-100 dark:bg-gray-800 break-words px-1 py-0.5 rounded;
  }
  #blogpost-content p code,
  #blogpost-content li code {
    @apply font-medium text-sm;
  }

  #blogpost-content blockquote {
    @apply my-5 pl-4 border-l-2 border-gray-400 text-sm text-gray-600;
  }

  /* Footnotes */
  #blogpost-content .footnotes {
    @apply text-sm opacity-75;
  }
  #blogpost-content .footnotes li p {
    @apply my-0;
  }

  pre {
    @apply font-mono 
      bg-gray-100 dark:bg-gray-800 dark:border-gray-800 dark:bg-opacity-80 
      p-2 my-4 rounded border border-gray-200 
      overflow-x-auto max-w-full;
  }

  pre code {
    @apply text-xs;
  }

  .codehilite {
    @apply leading-3;
  }


  table {
    @apply w-full table-auto text-sm text-left my-4 border border-gray-200 dark:border-gray-800;
  }

  table th {
    @apply p-2 font-medium bg-gray-50 text-gray-700 dark:bg-gray-800 dark:border-gray-800 dark:text-gray-500;
  }

  table td {
    @apply p-2 opacity-75;
  }

  table tr {
    @apply border-b border-gray-200 dark:border-gray-800;
  }

  [data-tooltip] {
    @apply relative underline decoration-dotted decoration-gray-300 dark:decoration-gray-500 cursor-help;
  }
  [data-tooltip]:hover::after {
    @apply block absolute p-1
    border border-black dark:border-gray-950
    bg-gray-100 dark:bg-gray-800
    -left-1/2 top-0 -translate-y-full
    text-sm text-center
    ;
    
    content: attr(data-tooltip);
    min-width: 180px;
    max-width: 500px;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.5);
  }

  .compare div {
    @apply flex-1;
  }

  a[data-header="1"] h2::before {
    content: "#";
    padding-right: 0.5rem;
  }
  a[data-header="1"] h3::before {
    content: "##";
    padding-right: 0.5rem;
  }
  a[data-header="1"] h4::before {
    content: "###";
    padding-right: 0.5rem;
  }

  #blogpost-content a[data-header="1"] {
    text-decoration-line: none;
    color: black;
  }
  #footer {
    @apply my-6 border-t border-gray-500 dark:border-gray-800;
  }
  #footer a {
    @apply font-medium underline underline-offset-2 decoration-dotted decoration-gray-300
    hover:text-blue-400 visited:text-blue-950
    dark:text-blue-400 dark:visited:text-blue-600;
  }

  .rss-list {
    @apply flex flex-col rounded border border-gray-300 dark:border-gray-800;
  }

  .rss-list-item {
    @apply flex items-center gap-2 p-2 border-t border-t-gray-300 first:border-t-0  dark:border-t-gray-800;
  }

  .rss-list-item-avatar {
    @apply w-8 h-8 rounded overflow-hidden shrink-0;
  }

  .rss-list-item-avatar img {
    @apply w-full h-auto relative before:block before:absolute before:w-8 before:h-8 before:bg-gray-300 before:bg-image-off before:bg-no-repeat before:bg-center;
  }

  .not-found {
    @apply w-8 h-8 bg-gray-300 bg-image-off bg-no-repeat bg-center dark:bg-gray-800;
  }

  .rss-list-item-content {
    @apply flex-1 min-w-0;
  }

  #series ol {
    @apply py-0 px-5 list-decimal;
  }

  #series {
    @apply 
    p-4 pt-2 
    bg-blue-50 rounded-sm border border-blue-100
    dark:bg-blue-950 dark:border-blue-950 dark:bg-opacity-50
    ;
  }

  #series a {
    @apply dark:text-gray-500 dark:visited:text-gray-500;
  }

  #series .series-current-article {
    @apply font-bold;
  }

  .rss-logo {
    height: 0.8rem;
    display: inline;
    vertical-align: baseline;
  }

  .rss-list-item-content h3 {
    @apply my-0 text-ellipsis whitespace-nowrap overflow-hidden max-w-fit;
  }
  .rss-list-item a {
    @apply hover:text-blue-400 visited:text-blue-900;
  }

  .rss-list-item-content-description, .rss-list-item-content-description p {
    @apply my-0 text-gray-500 text-sm text-ellipsis whitespace-nowrap overflow-hidden;
  }

  a.tag,
  #blogpost a.tag {
    @apply transition-all underline underline-offset-2 decoration-dotted 
    decoration-gray-300 dark:decoration-gray-500
     text-sm text-gray-950 hover:text-gray-700 visited:text-gray-800
    dark:text-gray-500 dark:hover:text-gray-400 dark:visited:text-gray-600
     ;
  }
  :target > * {
    @apply font-bold dark:text-gray-300;
  }
}


@tailwind components;
@tailwind utilities;
