<!DOCTYPE html>
    <head>
        <link rel="shortcut icon" type="image/svg" href="/images/logo.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/new-style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="referrer" content="no-referrer">
        <title>Blogs I follow - Mumbling about computers</title>
    </head>
    <body>
        <div class="layout">
            <header class="my-2 flex flex-col md:gap-2 md:flex-row md:items-baseline">
		<img src="/images/logo.svg" class="w-6 h-6 md:w-8 md:h-8">
                <h2 class="blog-title">
                    <a href='/'>Mumbling about computers</a>
                </h2>
            </header>
            <nav class="mb-4 pb-4 border-b border-gray-500 md:mb-8 md:pb-8">
                <ul class="flex items-center gap-2">
                    <li>
                        <a href="/rss.xml">RSS</a>
                    </li>
                    <li>
                        <a href="/blogs-i-follow.html">Blogs I follow</a>
                    </li>
                </ul>
            </nav>
            <main>
                <h1>Blogs I Follow</h1>
                <section>
                    <ul class="my-4 space-y-2">
                        <li>
                            <a class="tag" href='https://eklitzke.org/'>eklitzke.org</a> <a href='https://eklitzke.org/index.rss' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='http://nullprogram.com/'>nullprogram.com</a> <a href='http://nullprogram.com/feed/' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://ferd.ca/'>ferd.ca</a> <a href='https://ferd.ca/feed.rss' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://programmingisterrible.com/'>programmingisterrible.com</a> <a href='https://programmingisterrible.com/rss' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://eli.thegreenplace.net/'>eli.thegreenplace.net</a> <a href='https://eli.thegreenplace.net/feeds/all.atom.xml' class="ml-2 text-xs">RSS</a> 
                        </li>
                        <li>
                            <a class="tag" href='https://preshing.com/'>preshing.com</a> <a href='https://preshing.com/feed' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://robert.ocallahan.org/'>robert.ocallahan.org</a> <a href='https://robert.ocallahan.org/feeds/posts/default' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://henrikwarne.com/'>henrikwarne.com</a> <a href='https://henrikwarne.com/feed/' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='http://thecodist.com/'>thecodist.com</a> <a href='http://thecodist.com/rss.php' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='http://highscalability.com/'>highscalability.com</a> <a href='http://feeds.feedburner.com/HighScalability' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='https://rachelbythebay.com/w/'>rachelbythebay.com</a> <a href='https://rachelbythebay.com/w/atom.xml' class="ml-2 text-xs">RSS</a>
                        </li>
                        <li>
                            <a class="tag" href='http://antirez.com/latest/0'>antirez.com</a> <a href='http://antirez.com/rss' class="ml-2 text-xs">RSS</a>
                        </li>
                    </ul>
                </section>
            </main>
        </div>
    </body>
</html>
