<!DOCTYPE html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="referrer" content="no-referrer">
        <title>blogs I follow</title>
    </head>
    <body>
        <div id="indexheader">
            <h1>
                <a href="/">Mumbling about computers.</a>
            </h1>
        </div>
        <div id="entry">
            <article>
<p>
    <a href='https://eklitzke.org/'>https://eklitzke.org/</a> <a href='https://eklitzke.org/index.rss'>RSS</a>
</p><p>
    <a href='http://nullprogram.com/'>http://nullprogram.com/</a> <a href='http://nullprogram.com/feed/'>RSS</a>
</p><p>
    <a href='https://ferd.ca/'>https://ferd.ca/</a> <a href='https://ferd.ca/feed.rss'>RSS</a>
</p><p>
    <a href='https://programmingisterrible.com/'>https://programmingisterrible.com/</a> <a href='https://programmingisterrible.com/rss'>RSS</a>
</p><p>
    <a href='https://eli.thegreenplace.net/'>https://eli.thegreenplace.net/</a> <a href='https://eli.thegreenplace.net/feeds/all.atom.xml'>RSS</a>
</p><p>
    <a href='https://preshing.com/'>https://preshing.com/</a> <a href='https://preshing.com/feed'>RSS</a>
</p><p>
    <a href='https://robert.ocallahan.org/'>https://robert.ocallahan.org/</a> <a href='https://robert.ocallahan.org/feeds/posts/default'>RSS</a>
</p><p>
    <a href='https://henrikwarne.com/'>https://henrikwarne.com/</a> <a href='https://henrikwarne.com/feed/'>RSS</a>
</p><p>
    <a href='http://thecodist.com/'>http://thecodist.com/</a> <a href='http://thecodist.com/rss.php'>RSS</a>
</p><p>
    <a href='http://highscalability.com/'>http://highscalability.com/</a> <a href='http://feeds.feedburner.com/HighScalability'>RSS</a>
</p><p>
    <a href='https://rachelbythebay.com/w/'>https://rachelbythebay.com/w/</a> <a href='https://rachelbythebay.com/w/atom.xml'>RSS</a>
</p><p>
    <a href='http://antirez.com/latest/0'>http://antirez.com/latest/0</a> <a href='http://antirez.com/rss'>RSS</a>
</p>
            </article>
            <div id=footer>
                <a href="/rss.xml">RSS</a>
                <a style='float:right' href="/blogs-i-follow.html">Blogs I follow</a>
            </div>
        </div>
    </body>
</html>
