<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" type="image/svg" href="/images/logo.svg">
        <link rel="canonical" href="{{ full_url }}/">

        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ full_url }}" />
        <meta property="og:site_name" content="Mumbling about computers" />
        <meta property="og:image" content="{{ base_url}}images/logo.svg" />
        <meta property="article:published_time" content="{{ date }}" />
        {% for tag in tags -%}
        <meta property="article:tag" content="{{ tag }}" />
        {% endfor %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="referrer" content="no-referrer">
        <meta name="description" content="{{description|e}}">

        <link href="/css/style-2025-02-05.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">

        <title>{{ title }}</title>
        <link rel="alternate" type="application/atom+xml" href="/rss.xml">

        {% if devmode %}
        <script type="text/javascript" src="/live.js"></script>
        {% endif %}
        <script type="application/ld+json">
            {{ structured_metadata }}
       </script>
    </head>
    <body>
        <div class="layout">
            <header class="header">
                <h2 class="blog-title">
                    <a href='/'>Mumbling about computers</a>
                </h2>
            </header>
            <article id="blogpost">
                <header id="blogheader" class="mb-4 md:mb-4">
                    {{ header }}
                    <div class="flex flex-wrap gap-1 text-sm text-gray-450 mt-1">
                      Posted on <time class="font-bold" datetime="{{ date }}">{{ date }}</time>
                      {%- if tags -%}
                      under [
                      <ul class="flex flex-wrap gap-2">
                          {%- for tag in tags -%}
                          <li>
                              <a href="/tags/{{tag}}/" class="tag">{{ tag }}</a>
                          </li>
                          {%- endfor -%}
                      </ul>
                      ]
                    </div>
                    {%- endif -%}
                </header>
                {% if series %}
                <div id="series">
                    <p>This post is part of the series <b>{{series.name}}</b></p>
                    <ol>
                    {% for post in series.posts %}
                        {% if post.title == title %}
                            <li class="series-current-article">{{post.title}} (this article)</strong>
                        {% else %}
                            <li><a href="{{post.relative_url}}">{{post.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ol>
                </div>
                {% endif %}
                <section id="blogpost-content">
                    {{ post }}
                </section>
            </article>
            <div id="footer">
                <p>
                Feel free to send me comments, questions or feedback <a href="mailto:hello@davidv.dev">via email</a>.
                <br/>
                If you liked this content, you may also enjoy other <a href="/blogs-i-follow.html">blogs I follow</a>.
                <br/>
                There's also an <a href="/rss.xml"><img class="rss-logo" src="/images/rss.svg" alt="RSS logo"> RSS feed</a>.
                </p>
            </div>
        </div>
    </body>
</html>
