<!DOCTYPE html>
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="indexheader">
            <h1>
                <a href="/">Grouch mumbling about computers.</a>
            </h1>
            <h4>
                Thoughts, ideas.
            </h4>
        </div>
        <div id="entry">
            <div id="blogheader">
                {{ header }}
            </div>
            <div id="blogpost">
                {{ post }}
            </div>
        </div>
    </body>
</html>
