<!DOCTYPE html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link href="/css/syntax.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="referrer" content="no-referrer">
        <meta name="description" content="{{description}}">
        {% if devmode %}
        <script type="text/javascript" src="/live.js"></script>
        {% endif %}
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="indexheader">
            <h1>
                <a href="/">Mumbling about computers</a>
            </h1>
        </div>
        <div id="entry">
            <article>
                <div id="blogpost">
                    <div id="blogheader">
                        {{ header }}
                        {% if tags %}
                        <span>[
                        {% for tag in tags %}<a href="/tags/{{tag}}">{{tag}}</a> {% endfor %}
                        ]
                        </span>
                        {%endif%}
                    </div>
                    {{ post }}
                </div>
            </article>
            <div id=footer>
                <a href="/rss.xml">RSS</a>
                <a style='float:right' href="/blogs-i-follow.html">Blogs I follow</a>
            </div>
        </div>
    </body>
</html>
