<!DOCTYPE html lang="en">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
        <meta name="description" content="Blog where I ramble about computer stuff">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="indexheader">
            <h1><a href='/'>Mumbling about computers</a></h1>
        </div>
        <div id="indexlist">
            {% for post in index %}
            <div class="post">
                <div class="post-title">
                    <div>
                        <a href="{{post['path']}}">
                            {{ post['title'] }}
                        </a>
		    </div>
                    <small>{{post['date']}}</small>
                    {%-if post['tags']-%}
                    <small>[{%- for tag in post['tags'] -%}<a href="/tags/{{tag}}">{{tag}}</a>{{", " if not loop.last}}{%-endfor-%}]</small>
                    {%-endif-%}
                </div>
            </div>
            {%-endfor-%}
        </div>
        <div id=footer>
            <a href="/rss.xml">RSS</a>
            <a style='float:right' href="/blogs-i-follow.html">Blogs I follow</a>
        </div>
    </body>
</html>
